<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento agregado</title>
</head>
<body>
   
    {% block content %}
      <h2>Evento Agregado</h2>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <h3>Lista de Eventos:</h3>
      <ul>
        {% for evento in eventos %}
          <li>{{ evento.nombre }} - {{ evento.fecha }} - {{ evento.hora }}</li>
        {% endfor %}
      </ul>

      <p>Contenido adicional de la página de evento agregado...</p>
    {% endblock %}


</body>
</html>
