<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento agregado</title>
</head>
<body>
    <!-- evento_agregado.html -->

    {% block content %}
    <h2>Evento Agregado</h2>
    {% if messages_to_show %}
        <ul class="messages">
            {% for message in messages_to_show %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Contenido adicional de la página de evento agregado...</p>
    {% endblock %}

</body>
</html>
